## QuestionAnswer
${JSON_FORMAT_REQUIREMENT}

Here based on the previous question and solution analysis, you would determine which option out of "A", "B", "C", "D", "E" is correct.

input format:- "QuestionAnswer"

For Data Sufficiency questions, these are the standard options:
${DATA_SUFFICIENCY_OPTIONS}

Output format:- {"answer": "A"}
always give answer in the format of "A", "B", "C", "D", "E".